/* body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.navbar {
  display: grid;
  grid-column: 1/-1;

}

.svg-icon {
  display: flex;
  justify-content: center;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navbar {
  grid-column: 1/-1;
}

.intro-container {
  grid-column: ;
}

.intro {
  grid-column: 1/2;
  background-color: green;
}

.picture {
  background-color: orange;
}