body {
  display: grid;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 2fr;
  text-align: center;
}

.svg-icon {
  display: flex;
  justify-content: center;
}

.intro {
  display: grid;
  grid-template-columns: 1/;
}

